body{
    background-color:rgb(238,238,238);
    display: none;
}

#userPane{
    float: right;
    margin-right: 10%;
}

.box{
    height:108px;
    box-shadow: 1px 2px 2px rgb(38,38,38);
}

.purple{
    background-color: rgb(134,116,166);
}

.green{
    background-color: rgb(67,181,173);
}
.ngreen{
    background-color: rgb(92, 184, 92);
}
.blue{
    background-color:rgb(87,142,190);
}
.red{
    background-color: rgb(226,90,89)
}

.boxHead{
    color:white;position:absolute;bottom:0
}
